body{
    font-family: Arial, sans-serif;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    font-family:"geomini";
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    font-family:"geomini";
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight:bold;
    font-size: 2rem;
    background-color: hsl(0, 74%, 55%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-family:"geomini";
}

button[type="submit"]:hover{
    background-color:hsl(0, 74%, 44%);
}

.card{
    background: linear-gradient(180deg,hsl(325, 71%, 62%),rgb(255, 172, 71),hsl(206, 100%, 70%));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    min-width:300px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1{
    margin-top:0;
    margin-bottom: 25px;
    font-family:"geomini";
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
    font-family:"geomini";
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight:bold;
    color: hsla(0, 0%,0%, 0.75);
    margin-bottom:25;
    font-family:"geomini";
}
.humidityDisplay{
    font-weight:bold;
    margin-bottom: 25px;
    font-family:"geomini";
}
.descDisplay{
    font-style:italic;
    font-weight: bold;
    font-size: 2rem;
    font-family:"geomini";
}
.weatherEmoji{
    margin:0;
    font-size:7.5rem;
}
.errorDisplay{
    font-size:2.5rem;
    font-weight:bold;
    color:hsla(0, 0%, 0%, 0.75);
    font-family:"geomini";
}






